@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.w3-bar .w3-button {
  padding: 20px;

}

.w3-bar{
	/*padding: 5px;
	min-height:10vh;*/
	border-bottom: #ff4c00 3px solid;
	background-color: #edded1;	
}
.w3-bar img{
	width: 90px;
	height: 50px; 
	cursor: pointer;
	margin-bottom: 10px;
	margin-left: 20px;	
}
.logo {
	text-decoration: none;
	font-weight: 900;
	font-family: "Tangerine", serif;
	color:  #783703;
	letter-spacing: 3px;
	font-size: 36px;
	padding: 15px;
}
span{
	color:#052b2b;
	font-size:8px;
	position: absolute;
	left: 15%;
	top:5%;

}
.sidebar
{
	height: 40%;

}
.nav{
	text-decoration: none;
	margin-right: 30px;
	border-radius: 10px;
	color:#ff4c00;
	font-weight: 900;
	letter-spacing: 1px;
}
.main{
	min-height: 80vh;
	margin-top: 5px;
}

footer{
 	text-align: center;
 	margin: 0;
 	padding: 0;
 	background-color: orange;
 	padding: 2px;
 	color: #eee;

 }
 footer p{

 	margin-top: 10px;
 }

/*SERVICES*/
.clients img{

	width: 100px;
	height: 100px;
	border-radius: 10px;
}
.main .clients{
	width: 320px;
	border-color: coral;
	border-style: solid;
	border-radius: 10px;
	box-shadow: 0 3px 3px 3px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;


}

.main .container{
	margin-left: 50px;
}
.main .clients h1{

	text-align: center;
	color:#00468b;
	font-weight: 900px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
}
.mainservices p{
	margin: 0 50px 0 50px;
}

.mainservices h1{
	background-color:#e5e8e8;
	margin-top:10px;
	text-align: center;
	font-family: alesand, Helvetica, sans-serif;
	color: #ff4c00;
	font-size: 30px;
	font-weight: 700;
}
.mainservices p{
	background-color:#e5e8e8;
	padding: 10px;
	box-shadow: 0 2px 3px 3px;
}

/*ABOUT STYLE*/
.certlink{
	margin-top: 20px;
	margin-left: 20px;
}
.certlink button{
	font-size: 1.5em;
	cursor: pointer;
	font-weight: bold;
}

.bgmodal{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height:100vh;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.bgmodal .logo{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 8vh;
	border-bottom:orange solid 5px;
}

.close-modal{
	border:none;
	text-decoration: none;
	font-size: 16px;
	margin-right: -30px;
	margin-top: -50px;
	border-radius: 50%;
	background-color: orange;
}

.bgmodal .mainmodal h1{
	color:#ff4c00;
	font-weight: bold;
	margin-right: 30%;
	
}
.modal-active{
	visibility: visible;
	opacity: 1;
}

.mainmodal{

	background-color: white;
	width: 60%;
	height: 90%;
	border-radius: 5px;
}
.certimg .mySlides{
	width: 90%;
	margin-left: 40px;

}

.aboutmain .profilelogo h1{
	background-color:#e5e8e8;
	margin-top:10px;
	text-align: center;
	font-family: alesand, Helvetica, sans-serif;
	color: #ff4c00;
	font-size: 30px;
	font-weight: 700;
	
}
.aboutmain .flexabout{
	margin:0px 50px 0px 50px; 
}

.aboutmain .company{
	padding: 20px 20px 0px 20px;

}
.aboutmain .mission{
	padding: 0px 20px 20px 20px;

}
.aboutmain .mission p{
	padding: 10px;
	color: #35424a;
	font-size: 18px;
	text-align: center;
	text-align: justify;	

}
.aboutmain .company p{
	padding: 10px;
	color: #35424a;
	font-size: 18px;
	text-align: justify;

}
.aboutmain h1{
	color: #00468b;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;

}
/* 	CONTACT STYLE*/


  .contactmain img{
  	width: 500px;
 	height: 350px; 
 	margin-bottom: 10px;
  }
 .info{
	text-align: justify-all;
	font-size: 20px;
	

}
.info h1{

	color: #00468b;
	font-weight: 900;
	box-shadow: 10px;
	text-shadow: 2px 2px;
}
.map{
	margin-top: 20px;
	margin-left: 50px;
}

.contactmain aside{
	float: right;
	border-color: coral;
	border-style: solid;
	padding: 10px;
	margin-right: 50px;
	box-shadow: 0 2px 2px 2px;
	border-radius: 5px;

}

@media only screen and (max-width: 812px ){
/*HEADER AND FOOTER*/
 footer p{

 	margin-top: 10px;
 	font-size: 12px;
 }

.w3-bar img{
	width: 80px;
	height: 50px; 
	cursor: pointer;
	margin:0;
	padding: 0;
}
.logo {
	text-decoration: none;
	font-weight: 900;
	font-family: "Tangerine", serif;
	color:  #783703;
	letter-spacing: 3px;
	font-size: 24px;
	
}
span{
	color:#052b2b;
	font-size:8px;
	position: absolute;
	top:20px;
	margin-left: 50px;

}

	/*ABOUT*/
.aboutmain .flexabout{
	margin:0px 5px 0px 5px; 
}

/*CONTACT*/
.contactmain aside{
	float: left;

}

.info h1{

	color: #00468b;
	font-weight: 700;
	text-shadow: 2px 2px gray;
	font-size: 22px;
	text-align: center
}
.info{
	font-size: 16px;
}
.infoborder{
	margin-left: 20px;
}
.contactmain .map iframe{
	margin-top: 10px;
	margin-left: -30px;
	width: 320px;
}
.contactmain img{
	width: 350px;
	margin-left:10px;
}
}


