body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.w3-bar .w3-button {
  padding: 20px;

}

.w3-bar{
	/*padding: 5px;
	min-height:10vh;*/
	border-bottom: #ff4c00 3px solid;
	background-color: #edded1;	
}
.w3-bar img{
	width: 90px;
	height: 50px; 
	cursor: pointer;
	margin-bottom: 10px;
	margin-left: 20px;

	
}
.logo {
	text-decoration: none;
	font-weight: 900;
	font-family: "Tangerine", serif;
	color:  #783703;
	letter-spacing: 3px;
	

}
span{
	color:#052b2b;
	font-size:8px;
}
.nav{
	text-decoration: none;
	margin-right: 30px;
	border-radius: 10px;
	color:#ff4c00;
	font-weight: 900;
	letter-spacing: 1px;
}
.main{
	min-height: 80vh;
	margin-top: 5px;
}

footer{
 	text-align: center;
 	margin: 0;
 	padding: 0;
 	background-color: orange;
 	padding: 2px;
 	color: #eee;
 }
 footer p{

 	margin-top: 10px;
 }

/*SERVICES*/
.clients img{

	width: 100px;
	height: 100px;
	border-radius: 10px;
}
.main .clients{
	width: 320px;
	border-color: coral;
	border-style: solid;
	border-radius: 10px;
	box-shadow: 0 3px 3px 3px;
	margin-top: 20px;
	margin-right: 20px;


}
.main .clients h1{

	text-align: center;
	color:#00468b;
	font-weight: 900px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
}
.main aside{
	float: right;

}

.main .mainservices{
	float:left;
	width: 70%;
}
.mainservices{
	margin-left: 20px;
}
.mainservices p{
	text-align: justify;

}
.mainservices h1{
	background-color:#e5e8e8;
	margin-top:20px;
	text-align: center;
	font-family: alesand, Helvetica, sans-serif;
	color: #ff4c00;
	font-size: 30px;
	font-weight: 700;
}
.mainservices p{
	background-color:#e5e8e8;
	padding: 10px;
	box-shadow: 0 2px 3px 3px;
}

/*ABOUT STYLE*/
.aboutmain .profilelogo h1{
	background-color:#e5e8e8;
	margin-top:20px;
	text-align: center;
	font-family: alesand, Helvetica, sans-serif;
	color: #ff4c00;
	font-size: 36px;
	font-weight: 800;
}
.aboutmain .flexabout{
	margin:0px 50px 0px 50px; 
}

.aboutmain .company{
	padding: 20px 20px 0px 20px;

}
.aboutmain .mission{
	padding: 0px 20px 20px 20px;

}
.aboutmain .mission p{
	padding: 10px;
	color: #35424a;
	border-radius: 5px;
	font-size: 18px;
	text-align: center;
	text-align: justify;	

}
.aboutmain .company p{
	padding: 10px;
	color: #35424a;
	border-radius: 5px;
	font-size: 18px;
	text-align: justify;

}
.aboutmain h1{
	color: #00468b;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;

}
/* 	CONTACT STYLE*/


  .contactmain img{
  	width: 500px;
 	height: 350px; 
 	margin-bottom: 10px;
  }
 .info{
	text-align: justify-all;
	font-size: 20px;
	

}
.info h1{

	color: #00468b;
	font-weight: 900;
	box-shadow: 10px;
	 text-shadow: 2px 2px;
}
.map{
	margin-top: 20px;
	margin-left: 50px;
}

.contact{

	padding: 20px;
}
.contactmain aside{
	float: right;
	border-color: coral;
	border-style: solid;
	padding: 10px;
	margin-right: 50px;
	box-shadow: 0 2px 2px 2px;
	border-radius: 5px;

}

