@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;

}

/* Full height image header */
.w3-bar .w3-button {
  padding: 20px;

}

.w3-bar{
	border-bottom: #ff4c00 3px solid;
	background-color: #edded1;	
	position: relative;
}
.w3-bar img{
	width: 90px;
	height: 50px; 
	cursor: pointer;
	margin-bottom: 10px;
	margin-left: 20px;	
}
.logo {
	text-decoration: none;
	font-weight: 900;
	font-family: "Tangerine", serif;
	color:  #783703;
	letter-spacing: 3px;
	font-size: 36px;
	padding: 15px;
}
span{
	color:#052b2b;
	font-size:8px;
	position: absolute;
	left: 15%;
	bottom: 10%;

}
.sidebar
{
	height: 40%;

}
.nav{
	text-decoration: none;
	margin-right: 30px;
	border-radius: 10px;
	color:#ff4c00;
	font-weight: 900;
	letter-spacing: 1px;
}
.main{
	min-height: 80vh;
	margin-top: 5px;
}

footer{
 	text-align: center;
 	margin: 0;
 	padding: 0;
 	background-color: orange;
 	padding: 2px;
 	color: #eee;

 }
 footer p{

 	margin-top: 10px;
 }
 	/*HIRING*/

.hiring_list{
	display: flex;
	justify-content: center;

}


 .hiring_list .position{
 	width: auto;
 	height: auto;
 	border-color: #ebc565;
 	border-style: solid;
 	border-radius: 20px;
 	margin:50px;
 	display: grid;
 	grid-template-columns: auto auto;
 	padding: 10px;
 	grid-template-rows: 50px 50px 50px 50px;
 	box-shadow: 2px 2px 2px 2px #363330;

 }
  .hiring_list .position h5{
  	color:#032f70;
  	font-weight: bolder;
  	margin-right: 20px

  }
   .hiring_list .position button{
   	font-family: "Tangerine", serif;
   	margin:auto;
   	color:coral;
   	letter-spacing: 0.5em;
   	background-color: rgba(237, 228, 166);
   	border:none;
   	border-radius: 50px;
   	padding: auto;
 	width: 100px;
 	cursor: pointer;
 	font-weight: bolder;
 	outline: none;

   }
   .hiring_list .position1 button{
   	margin-top: 10px;
   }

   /*.hiring_list .position1 .tooltiptext{
   	visibility: hidden;
	width: auto;
	height: 10%;
	background-color: orange;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: relative;
  	z-index: 1;
  	top:10%;
   }
   .hiring_list .position1:hover .tooltiptext{
   	visibility: visible;
   	font-size: 14px;
   }*/
 	/*INDEX*/

.mainbody{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 80%;


}
.mainbody .citrinelogo img{
	width: 400px;
	height: 400px;

}


 .hiring button{
 	border: none;
 	background: none;
 	cursor: pointer;
 	font-size: 2em;
 	text-decoration: underline;
 	font-family: "Lobster", serif;
 	outline: none;
 }

/*SERVICES*/
.clients img{

	width: 100px;
	height: 100px;
	border-radius: 10px;
}

.clients .client_logo{
	transition: transform .3s;
	cursor: pointer;
	padding: 5px;

}
.clients .client_logo:hover{
	transform: scale(3); 
	-ms-transform: scale(3); 
  	-webkit-transform: scale(3); 
}
.main .clients{
	width: 320px;
	border-color: coral;
	border-style: solid;
	border-radius: 10px;
	box-shadow: 0 3px 3px 3px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
}

.main .container{
	margin-left: 50px;
}
.main .clients h1{

	text-align: center;
	color:#00468b;
	font-weight: 900px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
}
.mainservices p{
	margin: 0 10px 0 10px;
}

.mainservices h1{
	background-color:#e5e8e8;
	margin-top:10px;
	text-align: center;
	font-family: alesand, Helvetica, sans-serif;
	color: #ff4c00;
	font-size: 30px;
	font-weight: 700;
}
.mainservices p{
	background-color:#e5e8e8;
	padding: 10px;
	box-shadow: 0 2px 3px 3px;
}

/*ABOUT STYLE*/
.certlink{
	margin-top: 20px;
	margin-left: 20px;
}
.certlink button{
	font-size: 1.5em;
	cursor: pointer;
	border: none;
 	background: none;
 	cursor: pointer;
 	font-family: "Lobster", serif;
 	font-size: 1.5em;
 	text-decoration: underline;
 	font-weight: 900;
 	outline: none;
}

.bgmodal{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height:100vh;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.bgmodal .logo{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 8vh;
	border-bottom:orange solid 5px;
}

.close-modal{
	border:none;
	text-decoration: none;
	font-size: 20px;
	margin-right: -30px;
	margin-top: -50px;
	border-radius: 50%;
	background-color: coral;
}

.bgmodal .mainmodal h1{
	color:#ff4c00;
	font-weight: bold;
	margin-right: 30%;
	
}
/*.bgmodal .certimg img{
	cursor: pointer;
	transition: transform 2s;
}
.bgmodal .certimg img:hover{
	transform: scale(2);
}*/
.modal-active{
	visibility: visible;
	opacity: 1;
}
 .mainmodal .btnnxt button{
	margin-right: 20%;
	margin-left: 20%;

 }

.mainmodal{

	background-color: white;
	width: 60%;
	height: 90%;
	border-radius: 5px;
}
.certimg .mySlides{
	width: 90%;
	margin-left: 40px;

}

.aboutmain .profilelogo h1{
	background-color:#e5e8e8;
	margin-top:10px;
	text-align: center;
	font-family: alesand, Helvetica, sans-serif;
	color: #ff4c00;
	font-size: 30px;
	font-weight: 700;
	
}
.aboutmain .flexabout{
	margin:0px 50px 0px 50px; 
}

.aboutmain .company{
	padding: 20px 20px 0px 20px;

}
.aboutmain .mission{
	padding: 0px 20px 20px 20px;

}
.aboutmain .mission p{
	padding: 10px;
	color: #35424a;
	font-size: 18px;
	text-align: center;
	text-align: justify;	

}
.aboutmain .company p{
	padding: 10px;
	color: #35424a;
	font-size: 18px;
	text-align: justify;

}
.aboutmain h1{
	color: #00468b;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;

}
/* 	CONTACT STYLE*/


  .contactmain img{
  	width: 500px;
 	height: 350px; 
 	margin-bottom: 10px;
  }
 .info{
	text-align: justify-all;
	font-size: 20px;


}	 
.info table .email{
	text-decoration: underline;
}
.info table .fb{
	text-decoration: underline;
}
.info table td{
	font-weight: bold;
}
.info h1{

	color: #00468b;
	font-weight: 900;
	box-shadow: 10px;
	text-shadow: 2px 2px;
}
.map{
	margin-top: 20px;
	margin-left: 50px;
}
.contactmain .map p{
	color: blue;
	font-size: 18px;
	margin:auto;
	padding: auto;
}

.contactmain aside{
	float: right;
	border-color: coral;
	border-style: solid;
	padding: 10px;
	margin-right: 50px;
	box-shadow: 0 2px 2px 2px;
	border-radius: 5px;

}

@media only screen and (max-width: 1090px ){
/*HEADER AND FOOTER*/

.menu {
	position: absolute;
	top:10px;
	right: -5px;

}
 footer p{

 	margin-top: 10px;
 	font-size: 12px;
 }

.w3-bar img{
	width: 80px;
	height: 50px; 
	cursor: pointer;
	margin:10px 0 10px 0px;
	padding:0;

}
.logo {
	text-decoration: none;
	font-weight: 900;
	font-family: "Tangerine", serif;
	color:  #783703;
	font-size: 24px;
	position: relative;
	margin-left: -15px;
	
}
span{
	color:#052b2b;
	font-size:7px;
	letter-spacing: 0.1em;
	position: absolute;
	top:25px;
	left: 30px;

}
	/*HIRING*/
.hiring_list .position{
	grid-template-columns: 80% 10%;

}
.hiring_list .position  h5{
	font-size: 12px;
	margin-left: 0px;

}
.hiring_list .position button{
	letter-spacing: normal;
	height: 30px;
	width: 60px;
	margin-left:-10px;
	margin-top: 5px;
	}

	/*HOME*/

.mainbody .citrinelogo img{
	display: none;

}
.mainbody{
	position: relative;
}
.hiring button{
	position: absolute;
	left: 0;
	top:0;
}


	/*ABOUT*/
.aboutmain .flexabout{
	margin:0px 5px 0px 5px; 
}
.mainmodal{
	width: 90%;
	height: auto;
	border: orange solid 3px;
	box-shadow: 2px 2px 3px 3px;
}

.bgmodal .mainmodal .logo h1{	
	margin: 0;
	padding: 0;
	margin-right: 50px;
}
.bgmodal .mainmodal .logo{
	border-bottom: none;
}

.certimg .mySlides{
	width: 100%;
	margin-left: 0;
	padding: 15px;

}

.mainmodal .btnnxt button{
	margin-right: 0;
	margin-left: 0;
	color: coral;
	outline: none;

 }
.bgmodal {

width: 100%;
}	


/*CONTACT*/
.contactmain aside{
	float: left;

}

.info h1{

	color: #00468b;
	font-weight: 700;
	text-shadow: 2px 2px gray;
	font-size: 22px;
	text-align: center
}
.info{
	font-size: 16px;
}
.infoborder{
	margin-left: 20px;
}
.contactmain .map iframe{
	margin-top: 10px;
	margin-left: -30px;
	width: 320px;
}
.contactmain img{
	width: 350px;
	margin-left:10px;
}

.contactmain .map p{
	margin-left: -20px;

	/*SERVICES*/

}
.main .clients{
	margin-left: -20px;
	
}
.clients .client_logo{
	transition: transform .3s;
	cursor: pointer;

}
.clients .client_logo:hover{
	transform: scale(1); 
	-ms-transform: scale(3); 
  	-webkit-transform: scale(3);
  	height: 50%; 
}
}





